.LoginPage, .RegisterPage{
    background-image: url(./img/kobeBlurred.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100%;
    min-height: 100vh;
}

.WelcomePage{
    background-image: url(./img/kobeDrafted.jpg);
    background-size: auto;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100%;
    min-height: 100vh;
}

h1{
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    text-shadow: 5px 5px 10px purple;
    position: fixed;
    top: 1vw;
    right: 66vw;
    width: 0vw;
    height: 100vw;
    padding: 0vw 2vw 0vw 0vw;
}

h2{
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    position: fixed;
    text-shadow: 5px 5px 10px purple;
    top: 1vw;
    right: 56vw;
    width: 0vw;
    height: 0vw;
    padding: 0vw 2vw 0vw 0vw;
}

h3{
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    text-shadow: 5px 5px 10px purple;
    position: fixed;
    top: 3vw;
    right: 66vw;
    width: 0vw;
    height: 100vw;
    padding: 0vw 2vw 0vw 0vw;
}
  
form{
    position: fixed;
    margin-top: 28vw;
    margin-left: 42vw;
    white-space: nowrap;
    width: fit-content;
    line-height: .5em;
}

.badLogin1{
    position: fixed;
    top: 40vw;
    left: 42vw;
}
  
.badLogin2{
    position: fixed;
    top: 43vw;
    left: 42vw;
}

.ContactsPage{
    background-image: url(./img/kobe3cleanedUp.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: fixed; */
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    min-height: 100vh;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: rgb(36, 2, 49);
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: purple;
    color: yellow;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: yellow;
    color: purple;
  }

table {
    border-collapse: collapse;
    width: 50%;
    min-height: 100vh;
    margin: 8vw 0vw 0vw 20vw;
  }
  
  th{
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: purple;
    color: yellow;
  }
  td{
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
      background-color: yellow;
  }
  
  .T1{
      overflow-x: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 100vh;
      color: purple;
  }

  .UIbuttons{
      color: yellow;
      background-color: purple;
      width: 200px;
  }

  #searchContactButton{
      position: fixed;
      top: 30vh;
      right: 80vh;
      font-size: x-large;
  }

  #addContactButton{
    position: fixed;
    top: 30vh;
    right: 40vh;
    font-size: x-large;
}

  #searchFirst, #searchLast, #searchPhone, #searchAddress, #searchEmail, #ContactText{
      background-color: yellow;
      color: purple;
      font-size: medium;
      width: 200px;
  }

  #searchFirst{
      position: fixed;
      top: 35vh;
      right: 80vh;
      text-align: center;
  }

  #searchLast{
    position: fixed;
    top: 39vh;
    right: 80vh;
    text-align: center;
  }

  #searchPhone{
    position: fixed;
    top: 43vh;
    right: 80vh;
    text-align: center;
  }

  #searchAddress{
    position: fixed;
    top: 47vh;
    right: 80vh;
    text-align: center;
  }

  #searchEmail{
    position: fixed;
    top: 51vh;
    right: 80vh;
    text-align: center;
  }

  #ContactText{
    position: fixed;
    top: 35vh;
    right: 40vh;
    text-align: center;
}

#dunkGif{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60vh;
    width: 70vh;
}

.searchForm{
    z-index: 1;
}

.addForm{
    position: fixed;
    bottom: 30vh;
    right: 20vh;
    z-index: 1;
    background-color: purple;
    width: 30%;
    height: 30%;
    opacity: .9;
}

#AddButton{
    position: fixed;
    bottom: 20vh;
    right: 35vh;
}

#CancelButton{
    position: fixed;
    bottom: 20vh;
    right: 50vh;
}